name: build
on: [push, pull_request]
jobs:
  build_linux:
    strategy:
      matrix:
        go-version: [1.16.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Build dependencies
        run: |
          sudo apt-get update
          sudo apt-get --no-install-recommends install build-essential libgles2 libgles2-mesa-dev libglib2.0-dev libxkbcommon-dev libxkbcommon-x11-dev libglu1-mesa-dev libxcursor-dev libwayland-dev libx11-xcb-dev libvulkan-dev

      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build for linux
        run: go build

      - name: Upload binary artifact
        uses: actions/upload-artifact@v2
        with:
          name: catchat
          path: ./catchat

  build_windows:
    strategy:
      matrix:
        go-version: [1.16.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build for windows
        run: GOOS=windows go build -ldflags="-H windowsgui"

      - name: Upload binary artifact
        uses: actions/upload-artifact@v2
        with:
          name: catchat.exe
          path: ./catchat.exe

  build_macos:
    strategy:
      matrix:
        go-version: [1.17.x]
        os: [macos-11]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build for OSX (amd64)
        run: GOARCH="amd64" go build && mv catchat catchat-macos-amd64

      - name: Build for OSX (arm64)
        run: CGO_ENABLED=1 GOOS="darwin" GOARCH="arm64" go build -tags dynamic && mv catchat catchat-macos-arm64

      - name: Upload binary artifact
        uses: actions/upload-artifact@v2
        with:
          name: catchat-macos-amd64
          path: ./catchat-macos-amd64

      - name: Upload binary artifact
        uses: actions/upload-artifact@v2
        with:
          name: catchat-macos-arm64
          path: ./catchat-macos-arm64

  build_android:
    strategy:
      matrix:
        go-version: [1.16.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build android_build docker image
        run: |
          docker build --no-cache -t katzenpost/android_build -f Dockerfile.android .

      - name: Build catchat apk
        run: |
          docker run -v "$(pwd)":/go/build/ katzenpost/android_build gogio -arch arm64,amd64 -x -target android -appid org.mixnetworks.catchat -version 1 .

      - name: Upload binary artifact
        uses: actions/upload-artifact@v2
        with:
          name: catchat.apk
          path: ./catchat.apk

  create_release:
    runs-on: ubuntu-latest
    needs: [build_linux, build_windows, build_macos, build_android]
    steps:
      - name: Download catchat linux
        uses: actions/download-artifact@v2
        with:
          name: catchat

      - name: Download catchat windows
        uses: actions/download-artifact@v2
        with:
          name: catchat.exe

      - name: Download catchat android
        uses: actions/download-artifact@v2
        with:
          name: catchat.apk

      - name: Download catchat macos
        uses: actions/download-artifact@v2
        with:
          name: catchat-macos-amd64

      - name: Download catchat macos
        uses: actions/download-artifact@v2
        with:
          name: catchat-macos-arm64

      - name: Hash and commit
        run: |
          sha256sum catchat catchat.apk catchat-macos-arm64 catchat-macos-amd64 catchat.exe > catchat.sha256

      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: test_${{ github.sha}}
          release_name: Testing ${{ github.sha}}
          prerelease: true

      - name: Upload catchat.sha256
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./catchat.sha256
          asset_name: catchat.sha256
          asset_content_type: text/plain

      - name: Upload catchat linux x86_64
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./catchat
          asset_name: catchat-linux
          asset_content_type: application/binary

      - name: Upload catchat macos amd64
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./catchat-macos-amd64
          asset_name: catchat-macos-amd64
          asset_content_type: application/binary

      - name: Upload catchat macos arm64
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./catchat-macos-arm64
          asset_name: catchat-macos-arm64
          asset_content_type: application/binary

      - name: Upload catchat windows x86_64
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./catchat.exe
          asset_name: catchat.exe
          asset_content_type: application/binary

      - name: Upload catchat android apk
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./catchat.apk
          asset_name: catchat.apk
          asset_content_type: application/binary
